@charset "utf-8";

:root {
  --app-dark-background: #000000;
  --app-white-background: #fff;
  --app-light-background: #f9f9f9;
  --app-gary-text-color: #333;
  --app-orange-color: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic rules */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--app-white-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

/* Contact Part */


.contact {
  background-color: #dce2e6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  box-shadow: 0px 5px 15px 0px rgba(20, 20, 20, 0.2);



}



.contact h2 {
  padding-top: 15px;
  text-align: center;
  font-size: 45px;
  font-style: italic;
  font-weight: 400; 

}

.contact p {
  
  padding-bottom: 30px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 17px;
  font-style: italic;
  padding: 20px 20px 20px 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(22, 21, 21);
  border-radius: 7px;

}
.contact-box {
  display: flex;

}

.contact-left {
  background-color: #d8e3e9;
  flex-basis: 60%;
  padding: 40px 60px;
  margin-right: 100px;
  margin-bottom: 10px;
  border-radius: 7px;
  height: 480px;
  box-shadow: 0px 5px 15px 0px rgba(20, 20, 20, 0.1);


}

.contact-left:hover {
  transform: scale(1.1); 
}



.contact-left h3 {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-style: italic;


}



.contact-right {
  background-color: #d8e3e9;
  flex-basis: 40%;
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 7px;
  height: 480px;
  box-shadow: 0px 5px 15px 0px rgba(20, 20, 20, 0.1);


}

.contact-right:hover {
  transform: scale(1.1); 

}

.contact-right h3 {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  

}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;


}

input {
  border-radius: 5px;
  width: 100%;
  border: none;
  outline: none;
  padding-bottom: 5px;
  height: 30px;
  font-size: 13px;
  padding: 5px 15px 5px 10px;

}


textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  color: #161516;
  font-size: 15px;

}

button {
  background-color: #0b66c3;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  margin-top: 15px;
  font-size: 12px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  border-radius: 10px;
  
}

button:hover {
  transform: scale(1.1); 
  background-color: #71c471;

}

tr td:first-child {
  padding-right: 20px;


}
tr td {
  padding-top: 30px;
  font-size: 25px;
  


}

.Service-hour {
  background-color: #e5ecf3;
  height: 270px;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgba(20, 20, 20, 0.1);




}

.Service-hour h4 {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.Service-hour h5 {
  margin-top: 5px;
  text-align: center;
  padding: 10px 20px 7px 20px;
  height: 40px;
  width: 300px;
  margin-left: 37%;
  font-size: 17px;
}

.Service-hour h5 i {
  padding-right: 10px;

}


.social-media h2 {
  margin-top: 25px;
  font-size: 25px;
  font-style: italic;
  


}

ul li {
  text-decoration: none;
  text-align: center;
  display: inline;   

}

nav {
  text-align: center;

}

.fa-brands {
  margin-top: 10px;
  font-size: 30px; 
  transition: transform 0.3s; 
  text-decoration: none;
  padding: 7px;
  cursor: pointer;
  padding-top: 7px;
}

.fa-brands:hover {
  transform: scale(1.4); 
}

nav ul li a.fa-facebook {
  color: #3b5998;
  text-decoration: none;
}



nav ul li a.fa-instagram {
  color: #ce506b; 
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul li a.fa-linkedin-in {
  color: #0b66c3;
  text-decoration: none; 
}



@media (max-width: 768px) {

  .social-media h2 {
    font-size: 1.5rem;
  }

  .social-media a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {




  .social-media li {
    margin: 5px;
  }

  .social-media a {
    font-size: 1.25rem;
  }
}


@media (min-width: 1024px) {
}




/* Footer Section */

